/* Reset some default styles */
body, h1, table {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Set dark mode background */
body {
    background-color: #1a1a1a;
    color: #ffffff;
}

/* Header styles */
h1 {
    padding: 20px;
    text-align: center;
}

/* Input and button styles */
input[type="text"], button {
    padding: 8px;
    border: none;
    background-color: #252525;
    color: #ffffff;
    border-radius: 4px;
    margin-right: 10px;
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #444;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #333;
    color: #ffffff;
}

/* Table row hover effect */
tbody tr:hover {
    background-color: #333;
}

/* Dark mode for input and button */
input[type="text"], button {
    background-color: #252525;
    color: #ffffff;
}

/* Dark mode for table header */
th {
    background-color: #444;
    color: #ffffff;
}

.type-from-luminescent {
    font-style: italic;
}
.type-from-renegade {
    font-weight: bold;
}
.ab-from-luminescent {
    font-style: italic;
}
.ab-from-renegade {
    font-weight: bold;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #333; /* Tooltip arrow color */
    z-index: 1;
}

.tooltip[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333; /* Tooltip background color */
    color: #fff; /* Tooltip text color */
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    font-size: 14px;
    opacity: 0.9;
}